.first{
    border: 1px solid crimson;
    width: 300px;
    height: 100px;
    
}

.second{
    border: 1px solid crimson;
    width: 300px;
    height: 100px;
    overflow: hidden;
    
}

.third{
    border: 1px solid crimson;
    width: 300px;
    height: 100px;
    overflow: scroll;
    
}

.fourth{
    border: 1px solid crimson;
    width: 300px;
    height: 100px;
    overflow: auto;
    
}











.pad{
    padding: 1000px;
}