.container{
    border: 2px solid black;
    height: 300px;
    width: 300px;
    display:flex;


}
.box{
    height: 50px;
    width: 50px;
    margin: 10px;
   
}
#item1{
    background-color: tomato;
    align-content: flex-end;
}
#item2{
    background-color: blue;
    align-self: flex-end;
}
#item3{
    background-color: lime;
    align-self: center;
}
#item4{background-color: pink;}

