.container{
    border: 2px solid black;
    height: 300px;
    width: 300px;
    display:flex;

    /* align-content use with flex-wrap */
    flex-wrap: wrap;
    align-content: flex-end;
    align-content: space-between;
    align-content: space-around;
    align-content: stretch;



}
.box{
    height: 50px;
    width: 50px;
    margin: 10px;
   
}
#item1{
    background-color: tomato;
    align-content: flex-end;
}
#item2{background-color: blue;}
#item3{background-color: lime;}
#item4{background-color: pink;}
#item5{background-color: tomato;}
#item6{background-color: blue;}
#item7{background-color: lime;}
#item8{background-color: pink;}
