.navbar ul{
    background-color: black;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 80px;

}
.navbar li a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.navbar li a:hover{
    border: 1px solid white;
    border-radius: 40px;
    color: black;
    background-color: white;
}

.navbar li{
    float: left;
    list-style: none;
    padding-right: 10px;
  
}
.search{
    margin-left: 640px;
}
.searchbox{
    border: 1px solid white;
    border-radius: 40px;
}